<div class="row justify-content-center p-5 mt-4">
    <div class="row col-12">
        <div class="col-md-3">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center mb-3">
                    <mat-card-title><i class="bi bi-people-fill" style="font-size: 60px;"></i></mat-card-title>
                </mat-card-header>
                <mat-card-content class="d-flex justify-content-center">
                    <h5>
                        10.431 alunos
                    </h5>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center mb-3">
                    <mat-card-title><i class="bi bi-journal-bookmark-fill"
                            style="font-size: 60px;"></i></mat-card-title>
                </mat-card-header>
                <mat-card-content class="d-flex justify-content-center">
                    <h5>
                        30 cursos cadastrados
                    </h5>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center mb-3">
                    <mat-card-title><i class="bi bi-mortarboard-fill"
                            style="font-size: 60px;"></i></mat-card-title>
                </mat-card-header>
                <mat-card-content class="d-flex justify-content-center">
                    <h5>
                        14.780 alunos graduados
                    </h5>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-3">
            <mat-card>
                <mat-card-header class="d-flex justify-content-center mb-3">
                    <mat-card-title><i class="bi bi-person-check"
                            style="font-size: 60px;"></i></mat-card-title>
                </mat-card-header>
                <mat-card-content class="d-flex justify-content-center">
                    <h5>
                        8.780 alunos ativos
                    </h5>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>