<div class="row justify-content-center p-5">
    <div class="col-md-8">
        <mat-card>
            <mat-card-header class="d-flex justify-content-center mb-3">
                <mat-card-title
                    >Bem-vindo ao Sistema de Gestão de Alunos</mat-card-title
                >
            </mat-card-header>
            <mat-card-content class="m-4 d-flex justify-content-center">
                <p>
                    Este é um sistema de CRUD para a gestão de alunos. Aqui você
                    pode adicionar, visualizar, atualizar e excluir informações
                    de alunos.
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
