<div class="justify-content-center p-5 mt-4">
    <div class="row col-12">
        <div class="col-sm-12 col-md-3 p-2">
            <a style="cursor: pointer;">
                <mat-card>
                    <mat-card-header class="d-flex justify-content-center mb-3">
                        <mat-card-title><i class="bi bi-people-fill" style="font-size: 60px;"></i></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="d-flex justify-content-center">
                        <h5>
                            10.431 alunos
                        </h5>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col-sm-12 col-md-3 p-2">
            <a style="cursor: pointer;">
                <mat-card>
                    <mat-card-header class="d-flex justify-content-center mb-3">
                        <mat-card-title><i class="bi bi-journal-bookmark-fill"
                                style="font-size: 60px;"></i></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="d-flex justify-content-center">
                        <h5>
                            30 cursos cadastrados
                        </h5>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col-sm-12 col-md-3 p-2">
            <a style="cursor: pointer;">
                <mat-card>
                    <mat-card-header class="d-flex justify-content-center mb-3">
                        <mat-card-title><i class="bi bi-mortarboard-fill" style="font-size: 60px;"></i></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="d-flex justify-content-center">
                        <h5>
                            14.780 alunos graduados
                        </h5>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
        <div class="col-sm-12 col-md-3 p-2">
            <a style="cursor: pointer;">
                <mat-card>
                    <mat-card-header class="d-flex justify-content-center mb-3">
                        <mat-card-title><i class="bi bi-person-check" style="font-size: 60px;"></i></mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="d-flex justify-content-center">
                        <h5>
                            8.780 alunos ativos
                        </h5>
                    </mat-card-content>
                </mat-card>
            </a>
        </div>
    </div>
    <div class="row col-12 mt-4">
        <mat-divider></mat-divider>
        <div class="col-md-6 col-sm-12">
            <mat-list-item>
                <p class="mt-4" style="font-weight: bold;">
                    Áreas procuradas
                </p>
            </mat-list-item>
            <img src="https://www.torabit.com.br/wp-content/uploads/2023/02/Grafico-42-1024x1024.png" alt="">
        </div>
        <div class="col-md-6 col-sm-12">
            <mat-list-item>
                <p class="mt-4" style="font-weight: bold;">
                    Quantidade de matriculas em 2021-2023
                </p>
            </mat-list-item>
            <img src="https://portaldeimigracao.mj.gov.br/images/Obmigra_2020/OBMIGRA_2023/Relat%C3%B3rios_Mensais/Janeiro_2023/grafico_1.jpg"
                alt="">
        </div>
    </div>
</div>