table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

a {
    font-size: 25px;
    cursor: pointer;
}

.bi-person-check {
    color: #2a9d8f;
}

.bi-person-dash {
    color: #e76f51;
}