@import 'node_modules/ngx-toastr/toastr.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

html,
body {
    height: 100%;
    margin: 0;
    overflow: auto;
    scroll-behavior: smooth;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a, h1, h2, h3, h4, p, input, button, table, th, td, mat-list-item {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6c757d;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}