<div class="mt-5">
    <div class="m-5 text-center">
        <h4>Cadastro de aluno</h4>
    </div>
    <form [formGroup]="registrationStudentForm" (ngSubmit)="onSubmit()">
        <div>
            <div class="row col-12">
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Nome completo</mat-label>
                        <input matInput placeholder="Insira o nome completo" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>CPF</mat-label>
                        <input matInput placeholder="Insira o CPF" formControlName="cpf">
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Data de Nascimento</mat-label>
                        <input matInput placeholder="Insira a data de nascimento" formControlName="birthdate"
                            type="date">
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Curso</mat-label>
                        <mat-select formControlName="course">
                            <mat-option value="engenharia">Engenharia</mat-option>
                            <mat-option value="medicina">Medicina</mat-option>
                            <mat-option value="direito">Direito</mat-option>
                            <mat-option value="computacao">Computação</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="Insira o e-mail" formControlName="email" type="email">
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="Insira o celular" formControlName="cellphone" type="cellphone">
                    </mat-form-field>
                </div>
            </div>
            <div formGroupName="address" class="row col-12">
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>CEP</mat-label>
                        <input matInput placeholder="Insira o CEP" formControlName="cep" mask="00000-000">
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Rua</mat-label>
                        <input matInput placeholder="Insira a rua" formControlName="logradouro">
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Bairro</mat-label>
                        <input matInput placeholder="Insira o bairro" formControlName="bairro">
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="Insira o número" formControlName="complemento">
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Cidade</mat-label>
                        <input matInput placeholder="Insira a cidade" formControlName="localidade">
                    </mat-form-field>
                </div>
                <div class="form-group col-6">
                    <mat-form-field class="w-100">
                        <mat-label>Estado</mat-label>
                        <input matInput placeholder="Insira o estado" formControlName="uf">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="text-center m-5">
            <button type="submit" mat-raised-button color="primary"
                style="background-color: #00406c; color:white;">Cadastrar</button>
        </div>
    </form>
</div>